<a class="back-button" href="/posts/feed">Back</a>

<h2> <%= thisPost.title %></h2>
<h3> <%= thisPost.author %> </h3>
<p>
  <%= thisPost.content %>
</p>

<!-- This should only be available when it is a user's own post -->
<a href="/posts/<%= thisPost._id %>/edit">[Edit]</a>

<div class="form-group">
  <form class="delete" action="?_method=DELETE" method="POST">
    <input class="form-control"
           type="submit"
           value="Delete">
  </form>
</div>
<!-- Lets get to this once other functionality is finished -->
<div class="form-group">
  <form class="comment" action="edit or something" method="POST">
    <label for="comment">Comments</label>
    <br/>
    <input type="text"
           name="comment" id="comment"
           placeholder="Leave your comment here">
    <br/>
    <input type="submit">
  </form>
</div>
