<form class="edit-post" action="/posts/post/<%= post._id %>/edit?_method=PATCH" method="POST">
  <div class="form-group">

    <label for="title">Title</label>
    <br/>
    <input class="form-control"
           type="text"
           name="post[title]" id="title"
           value= "<%= post.title %>"
           placeholder="What is this post about">
           <br/>
    <label for="content">Content</label>
    <br/>
    <input class="form-control"
         type="text"
         name="post[content]" id="content"
         value= "<%= post.content %>"
         placeholder="What do you want to say?">
         <br/>

     <input class="btn btn-default btn-large" type="Submit" value="update">
   </div>
</form>
