<form class="new-post" action="/posts/new" method="POST">

  <div class="form-group">

    <label for="title">Title</label>
    <br/>
    <input class="form-control"
           type="text"
           name="post[title]" id="title"
           placeholder="What is this post about" >
           <br/>
    <label for="content">Content</label>
    <br/>
    <input class="form-control"
         type="text"
         name="post[content]" id="content"
         placeholder="What do you want to say?" >
         <br/>
     <input class="btn btn-default btn-large" type="Submit" value="post">
   </div>
</form>
