<form class="new-post" action="/forum/post/new" method="POST">

  <div class="form-group">

    <label for="title">Title</label>
    <br/>
    <input class="form-control"
           type="text"
           name="post[title]" id="title"
           placeholder="What is this post about" >
           <br/>
   <label for="author">Author</label>
   <br/>
   <input class="form-control"
          type="text"
          name="post[author]" id="author"
          placeholder="Who wrote this?"
           >
          <br/>
    <label for="content">Content</label>
    <br/>
    <input class="form-control"
         type="text"
         name="post[content]" id="content"
         placeholder="What do you want to say?" >
         <br/>

     <input type="submit">
   </div>
</form>
