<div class="home">
  <h2>this is the forum on all things deflategate</h2>
  <h3>you can navigate to the feed or post form by clicking the PROPERLY inflated football on the left</h4>
  <h5>...please disregard the subpar ball looking on the tab</h5>
  <h4>now go ahead and post and comment, I know you have an opinion that needs to be heard</h4>
  <h5>you are on an internet forum after all</h5>
</div>
