<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="football"><a href="#menu"><img src="http://cliparts.co/cliparts/dc4/84X/dc484XLqi.png" alt="football"/></a></div>
    <nav id="menu" id="xx">
      <ul class="site-header">
        <li><a class="btn btn-default btn-xs btn-block" href="/" role="button">home</a></li>
        <li><a class="btn btn-default btn-xs btn-block" href="/posts/feed" role="button">view feed</a></li>
        <li><a class="btn btn-default btn-xs btn-block" href="/posts/new" role="button">post</a></li>
        <li><a href="#xx">X</a></li>
      </ul>
    </nav>
    <% if(user) { %>
    <div id="user">
        <a class="btn btn-primary btn-xs" href="#user-menu" role="button"> <%= user.username %></a>
    </div>
    <div id="user-menu" id="x">
      <ul class="user-menu">
        <li><a class="btn btn-default btn-xs btn block" href="/users/<%= user.username %>/view" role="button">View Profile</a></li>
        <li><a class="btn btn-danger btn-xs btn-block"href="/users/logout" role="button">logout</a></li>
        <li><a href="#x">X</a></li>
      </ul>
    </div>
    <% } %>
    <%- body %>
  </body>
</html>
