<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum Project</title>
    <link rel="stylesheet" href="/app.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <ul class="site-header">
        <li><a href="/">Home</a></li>
        <li><a href="/forum/post/feed">View Feed</a></li>
        <li><a href="/forum/post/new">Post</a></li>
        <li><a href="/forum/user/new">Create user</a></li>
        <li><a href="/forum/user/login">Login</a></li>
      </ul>
    </header>
    <%- body %>
  </body>
</html>
