<div class="login">
  <h1>Welcome to Deflategate Conspiracy Central</h1>
  <ul>
    <li><a class="btn btn-primary btn-large btn-block" href="/users/new" role="button">Create User</a></li>
    <li><a class="btn btn-danger btn-large btn-block" href="/users/login" role="button">Login</a></li>
  </ul>
</div>
