<form class="edit-user" action="/users/edit?_method=PATCH" method="POST">

  <div class="form-group">

    <label for="username">User Name</label>
    <br/>
    <input class="form-control"
           type="text"
           name="user[username]" id="username"
           placeholder="What do you want to log in with?"
           value="<%= user.username %>" >
   <br/>
    <label for="name">Name</label>
    <br/>
    <input class="form-control"
         type="text"
         name="user[name]" id="name"
         placeholder="What is your full name?"
         value="<%= user.name %>" >
    <br/>
    <!-- figure out how to make this autoselect to what was previously selected -->
    <label for="viewpoint">Alleigance</label>
    <input class="form-control "type="text" name="user[viewpoint]" list="viewpoint" placeholder="Tom or Roger">
    </br>
    <datalist id="viewpoint">
      <option value="Tom Brady is perfect and I love him"></option>
      <option value="Tom Brady is a cheating pretty boy primadonna"></option>
      <option value="Roger Goodell is a clown that needs to be fired"></option>
      <option value="I agree, but still think that Ugg's wearer is a cheater"></option>
      <option value="This is dumb, why am I here"></option>
      <option value="JUST MAKE IT STOP!!"></option>
      <option value="What are all of you talking about?"></option>
    </datalist>
    </br>
    <input class="btn btn-default btn-large" type="Submit" value="update">
   </div>
</form>
