<form class="new-user" action="/forum/user/new" method="POST">

  <div class="form-group">

    <label for="username">User Name</label>
    <br/>
    <input class="form-control"
           type="text"
           name="user[username]" id="username"
           placeholder="What do you want to log in with?" >
   <br/>
   <label for="password">Password</label>
   <br/>
   <input class="form-control"
          type="text"
          name="user[password]" id="password"
          placeholder="Choose a password" >
    <br/>
    <label for="name">Name</label>
    <br/>
    <input class="form-control"
         type="text"
         name="user[name]" id="name"
         placeholder="What is your full name?" >
    <br/>
    <!-- <label>Gender</label>
    <br/>
    <label for="female">Female</label>
    <input class="form-control"
       type="radio"
       name="user[gender]" id="female"
       value="female">
   <label for="male">Male</label>
   <input class="form-control"
      type="radio"
      name="user[gender]" id="male"
      value="male" >
    <br/> -->
    <input type="submit">
   </div>
</form>
