<form class="new-user" action="/users/new" method="POST">

  <div class="form-group">

    <label for="username">User Name</label>
    <br/>
    <input class="form-control"
           type="text"
           name="user[username]" id="username"
           placeholder="What do you want to log in with?" >
   <br/>
   <label for="password">Password</label>
   <br/>
   <input class="form-control"
          type="password"
          name="user[password]" id="password"
          placeholder="Choose a password" >
    <br/>
    <label for="name">Name</label>
    <br/>
    <input class="form-control"
         type="text"
         name="user[name]" id="name"
         placeholder="What is your full name?" >
    <br/>
    <label for="viewpoint">Alleigance</label>
    <input type="text" name="user[viewpoint]" list="viewpoint" placeholder="Type some about Tom or Roger">
    </br>
    <datalist class="form-control" id="viewpoint">
      <option value="Tom Brady is perfect and I love him"></option>
      <option value="Tom Brady is a cheating pretty boy primadonna"></option>
      <option value="Roger Goodell is a clown that needs to be fired"></option>
      <option value="I agree, but still think that Ugg's wearer is a cheater"></option>
      <option value="This is dumb, why am I here"></option>
      <option value="JUST MAKE IT STOP!!"></option>
      <option value="What are all of you talking about?"></option>
    </datalist>
    </br>
    <input class="btn btn-default btn-large btn-block" type="submit" value="Create User">
   </div>
</form>
