* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}
body {
  background-color: #F8F8F8;
  color: #333;
}
a {
  color: #333;
}
a:hover {
  text-decoration: none;
  color: lightgray;
}
nav {
  background: #777;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  opacity: 0.9;
}

h1 {
  text-align: center;
}

li {
  display: inline-block;
}

.start {
  text-align: center;
}

form > div {
  background: lightgray;
  margin: 0 auto;
  width: 40%;
  border: #E8E8E8 solid 1px;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 10%;
  text-align: center;
}
.post a{
  margin: 2rem;
  position: relative;
  display: inline;
  left: 45%;
  /*right: 50%;*/
  top: 20%;
}
.login {
  margin-top: 15%;
  text-align: center;
}

.login > ul {
  padding: 2rem;
  line-height: 2rem;
  font-size: 4rem;
}

#menu {
  position: fixed;
  height: 8%;
  left: -100%;
  background: #C0C0C0;
  opacity: 0.85;
  transition: 1s all ease;
  padding-top: 1rem;
  text-align: left;
}
#menu > ul {
  margin-left: 5.5rem;
}

#menu:target {
  left: 0;
  width: 100%;
  z-index: 5;
}

#xx:target {
  left: -100%;
  transition: 1s all ease;
}

#user {
  z-index: 6;
  position: fixed;
  right: 1.5%;
  top: 2%;
}
#user-menu {
  position: fixed;
  top: -100%;
  right: 1.5%;
  transition: 1s all ease;
}
#user-menu li {
  display: block;
  margin: 0.5rem;
  text-align: center;
}
#user-menu:target {
  top: 6%;
  right: 1%;
}
#x:target {
  top: -100%;
  right: 1.5%;
  transition: 1s all ease;
}
.feed {
  position: relative;
  text-align: center;
  background: #D1C2B2;
  opacity: 0.7;
  margin: 0.1rem auto;
  padding: 1rem;
  width: 75%;
  moz-border-radius: 50% / 50%;
  webkit-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  border: #E8E8E8 solid 1px;
  transition: 0.5sec;
}

.feed:hover {
  background: #D1C2B2;
  opacity: 1;
}

a > img {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  animation: rotation 10s infinite;
  z-index: 6;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
