/*everything*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

/*inhertited styles for the entire site body*/
body {
  background-color: #F8F8F8;
  color: #333;
  background-image: url(http://i.nflcdn.com/static/content/public/static/img/navigation/shields/header-shield.300x250.png);
  background-size: cover;
}

/*Styles the nav bar*/
nav {
  background: #777;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  opacity: 0.9;
}

/*this is just for the header on the homepage*/
h1 {
  text-align: center;
}

li {
  display: inline-block;
}
/*This styles the test on the homepage*/
.home {
  background: #F8F8F8;
  opacity: 0.9;
  text-align: center;
}

/*Any form is styled by this*/
form > div {
  background: lightgray;
  margin: 0 auto;
  width: 40%;
  border: #E8E8E8 solid 1px;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 10%;
  text-align: center;
  opacity: 0.95;

}

/*styles anchor tags to this color*/
a {
  color: #333;
}

/*style for anchor tages when hovering over them*/
a:hover {
  text-decoration: none;
  color: lightgray;
}

/*not sure if I need this any more*/
/*.start {
  text-align: center;
}*/

/*the style for the post button on the feed*/
.post a{
  margin: 2rem;
  position: relative;
  display: inline;
  left: 45%;
  /*right: 50%;*/
  top: 20%;
}

/*the login div on the loginwall page*/
.login {
  margin-top: 13%;
  text-align: center;
  background: #F8F8F8;
  opacity: 0.9;
}
.login > ul {
  padding: 2rem;
  line-height: 2rem;
  font-size: 4rem;
}

/*this is for styling the menu that slides in from the left*/
#menu {
  position: fixed;
  height: 8%;
  left: -100%;
  background: #C0C0C0;
  opacity: 0.85;
  transition: 1s all ease;
  padding-top: 1rem;
  text-align: left;
}
/*this styles the ul in the sliding nav menu*/
#menu > ul {
  margin-left: 5.5rem;
}

/*when the football is clicked this css happens*/
#menu:target {
  left: 0;
  width: 100%;
  z-index: 5;
}

/*this is the closer for the sliding menu*/
#xx:target {
  left: -100%;
  transition: 1s all ease;
}

/*this is the user button that pops up in the right when you have logged in*/
#user {
  z-index: 6;
  position: fixed;
  right: 1.5%;
  top: 2%;
}

/*styling for the menu that slides up and down for the user*/
#user-menu {
  position: fixed;
  top: -100%;
  right: 1.5%;
  transition: 1s all ease;
}

/*styling the li's in the user menu*/
#user-menu li {
  display: block;
  margin: 0.5rem;
  text-align: center;
}

/*what happens when the menu is clicked*/
#user-menu:target {
  top: 6%;
  right: 1%;
  z-index: 6;
}

/*to close the menu*/
#x:target {
  top: -100%;
  right: 1.5%;
  transition: 1s all ease;
}

/*bumps feed down a little out of the menu's way*/
.mainfeed {
  margin-top: 5rem;
}

/*styling for the feed view*/
.feed {
  position: relative;
  text-align: center;
  background: #F8F8F8;
  opacity: 0.7;
  margin: 0.1rem auto;
  padding: 1rem;
  width: 60%;
  moz-border-radius: 12px;
  webkit-border-radius: 12px;
  border-radius: 12px;
  border: #E8E8E8 solid 1px;
  transition: 0.5sec;
}

/*changes made when someone hovers over a post in the feed*/
.feed:hover {
  background: #E8E8E8;
  opacity: 0.95;
}

/*the football image*/
a > img {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  -webkit-animation: rotation 10s infinite;
  -moz-animation: rotation 10s infinite;
  -o-animation: rotation 10s infinite;
  animation: rotation 10s infinite;
  z-index: 6;
}
/*the animation for the football*/
@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/*styling the user view page for a user profile*/
.user-view {
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  background: #F8F8F8;
  opacity: 0.9;
}
.user-view > h2 {
  margin-left: 0;
  margin-right: 0rem;
  margin-top: 5rem;
}
/*the posts section in the user profile*/
.posts {
  text-decoration: underline;
}

/*styling the individual post view page*/
.post-view {
  background: #F8F8F8;
  opacity: 0.9;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 1rem;
}
.post-view > h2 {
  text-decoration: underline;
  margin-left: 0;
  margin-right: 0rem;
  margin-top: 5rem;
}
/*the comment content in the post view*/
.comment {
  text-align: center;
}
.comments {
  text-decoration: underline;
}
